@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    color: #5c4033; /* Dark brown */
    background-color: #faeee0; /* Light cream/pink background */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px 20px 20px;
    background-color: #f7e6d5;
}

header h1 {
    color: #d14b28;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
    font-style: italic;
}

header p {
    font-size: 18px;
    margin-top: 0;
    font-weight: 400;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    flex: 1 1 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.main-content {
    flex: 3 1 600px;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    font-size: 28px;
    color: #d14b28;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-weight: normal;
    text-decoration: none;
    color: #5c4033;
}

nav ul li a:hover {
    color: #d14b28;
}

a {
    text-decoration: none;
    color: #5c4033;
}

a:hover {
    color: #d14b28;
}

.content-section {
    margin-bottom: 40px;
}

.content-section ul {
    list-style-type: none;
    padding: 0;
}

.content-section ul li {
    margin-bottom: 10px;
}

.content-section ul li strong {
    font-weight: bold;
}

.content-section ul li a {
    text-decoration: underline;
}

.content-section ul li a:hover {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #5c4033;
    background-color: #f7e6d5;
}

#socials ul {
    list-style-type: none;
    padding: 0;
}

#socials ul li {
    margin-bottom: 10px;
}

#socials ul li a {
    font-weight: normal;
    text-decoration: underline;
}

#socials ul li a:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
